<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/960.css">
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>


<body>

  <div id="container" class="container_12">
	<header class="grid_12">
	  <div class="logo">
	  {% if general %}
		{% for g in general %}
		  {% if g.org_logo %}
			<a href="#" title="logo"><img src="{{ g.org_logo.url }}" width="{{g.org_logo.width}}" height="{{g.org_logo.height}}" alt="{{ g.org_name }}"></a>
		  {% else %}
			<h1>{{ g.org_name }}</h1>
		  {% endif %}
		{% endfor %}
	  {% endif %}
	  </div>
	  <nav>
	  {% if tag %}
		<ul>
		  {% for t in tag %}
			{% if t.kind == "medium" %}
				<li><a href="/{{ t.kind }}/{{ t.slug }}"><span>{{ t.title }}</span></a></li>
		  {% endif %}
		  {% endfor %}	
		</ul>
	  {% else %}
	  <p> No tags exist. Please create "medium" tags to create the navigation. </p>
	  {% endif %}
	  </nav>
	</header>
	<div id="main" role="main">
	  <div id="content">
		<div class="grid12 entry top">
		  <div class="entry_styles">
			  {% if entry %}
				<ul>
				  {% for p in entry %}
		
					<li>{{ p.title }}
						{% if p.tags %}
							<ul>
								{% for t in p.tags.all %}
								{% if t.kind == "client" %}
									<li class="{{ t.kind }}">{{ t.title }}</li>
								{% endif %}{# of "if t.kind == client" #}
							
								{% endfor %}{# of "for t in p.tags.all" #}
						
								{% for t in p.tags.all %}
						
									{% if t.kind == "medium" %}
										<li class="{{ t.kind }}">{{ t.title }}</li>
									{% endif %}{# of "if t.kind == medium" #}
							
								{% endfor %}{# of "for t in p.tags.all" #}
						
							</ul>
						{% else %}
						{% endif %}
					</li>
				  {% endfor %}
				</ul>
			  {% else %}{# of "if entry" #}
				<p>Shit didn't work</p>
			  {% endif %}{# of "if entry" #}
		  </div>
		</div>
	  </div>
	</div>
  </div>



  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  
  <!-- Slides.js -->

  
  <!-- end scripts-->

	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>

